# LangChain and related packages
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters

# Chainlit for UI
chainlit

# Vector Store, Embeddings and Loaders
faiss-cpu
tiktoken
pypdf

# Environment variables
python-dotenv
